.ant-form-item-label {
  text-align: left;
}

.ant-modal-body {
  .modal-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  .ant-modal-footer {
    border-top: none;
  }
}
