.btn-add {
  margin-bottom: 26px;

  .export-excel {
    text-align: right;
  }
}

.space {
  margin-left: 100px;
  margin-right: 100px;
}

.pagination {
  margin-top: 20px;
  padding-bottom: 20px;
}
