#root {
  overflow-x: hidden;
}

.btn-add {
  margin-bottom: 26px;

  .export-excel {
    text-align: right;
  }
}

.space {
  margin-left: 20px;
  margin-right: 20px;
}

.pagination {
  margin-top: 20px;
  padding-bottom: 20px;

  position: fixed;
  bottom: 0;
  right: 0;
}
